a {
    color: #ff0000;
    background-color: #96dded;
}

p {
    text-align: center;
}

b {
    font-family: Verdana; 
    font-size: 24px;
}

p {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 13px;
}

p {
    color:chartreuse;
    background-color: blue;
}