@font-face { font-family: Axial cut; src: url('fonts/Axialcut-Regular.ttf');} 
@font-face { font-family: Brandon Grotesque; src: url('fonts/HvDTrial_Brandon_Grotesque_regular-BF64a625c9311e1.otf');} 

h1 {
      text-align: center;
      font-family: Axial cut;
      color: #3F0257;
      display: block;
      font-size: 120px;
      unicode-bidi: isolate;
}

nav {
  margin-top: 0px;
  padding: 12px, 0, 12px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: none;
  unicode-bidi: isolate;
  background-color: #3F0257;
  border: #FBFF70;
}

h2 {
    color: #000000;
    text-align: left;
    font-size: 45px;
    position: left;
    font-family: Axial cut;
}

h3 {
  color: #FFFFFF;
  text-align: left;
  font-size: 45px;
  position: left;
  font-family: Axial cut;
}

figure {
  margin: auto;
}

figcaption {
  color: #000000;
  font-family: Brandon Grotesque;
  font-size: 20px;
  text-align: left;
}

.logo {
  align-items: left;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 4px;
    border-radius: 20px;
    margin: auto;
    font-size: 20px;
    font-family: Axial cut;
    background-color: #DFC5E8;
    border-color: #3F0257;
    color: #3F0257;
  }

  .topnav a {
    float: center;
    display: block;
    color: #FBFF70;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 20px;
  }

  .topnav .icon {
    display: none;
  }

.text-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 70vw;
  }
  
  .text-container h1{
    margin: 0;
    font-size: 130px;
    color: rgba(225,225,225, .01);
    background-image: url(images/flowersbackground.jpg);
    background-repeat: repeat;
    background-clip: text;
    animation: animate 8s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    justify-content: center;
    font-family: Axial cut;
  }

  section h2 {
    margin: auto;
    align-items: left;
    font-size: 35px;
    text-align: left;
    font-family: Axial cut;
  }

  section p {
    margin: auto;
    align-items: left;
    font-size: 20px;
    text-align: left;
    font-family: Brandon Grotesque;
  }
  
  .background-image {
    width: 150px;
    height: 80px;
  }

    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  }

.parent {position: sticky; margin: 0 0 100px; padding: 50px; padding-left: 100px; min-height: 50px;}
.parent .sticky {position: sticky; left: 50px; width: 100px;}

p {
    font-size: 20px;
    text-align: left;
    font-family: Brandon Grotesque;
}

b {
    font-family: Brandon Grotesque;
    text-align: center;
    vertical-align: 20px;
    font-size: 20px;
}

footer a {
  font-family: Brandon Grotesque;
  color: #FBFF70;
  font-size: 20px;
  align-items: left;
}

body {
    font-family: Brandon Grotesque;
    font-size: 20px;
    background-color: #DFC5E8;
    text-align: left;
}

header {
background-color: #DFC5E8;
padding: 12px, 0, 12px;
font-family: Brandon Grotesque;
font-size: 20px;
text-align: center;
}

head {
    text-align: right;
    font-family: Axial cut;
}

.topnav {
    text-align: left;
}

button {
    text-align: center;
    border-color: #3F0257;
    background-color: #DFC5E8;
    color: #3F0257;
    font-size: 20px;
    font-family: Axial cut;
    align-items: right;
}

button back-to-top {
  text-align: center;
  font-family: Brandon Grotesque;
  color: #3F0257;
  border-radius: 40px;
  font-size: 20px;
  align-items: right;
}

footer {
    text-align: left;
    font-family: Brandon Grotesque;
    font-size: 20px;
    margin: 0;
    padding: 12px, 0, 12px;
    overflow: hidden;
    display: block;
    background-color: #3F0257;
    color: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

  /* Dropdown Button */

.dropbtn {
    background-color: #3F0257;
    color: #FBFF70;
    position: relative;
    padding: 12px;
    font-size: 20px;
    border-color: #FBFF70;
    cursor: pointer;
    align-items: center;
    font-family: Axial cut;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2e0240;
    border-color: #dade56;
    position: relative;
    align-items: center;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    float: center;
    overflow: hidden;

  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #DFC5E8;
    padding: 12px;
    font-size: 20px;
    box-shadow: 0px 12px 18px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-items: vertical;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    display: flex;
    position: relative;
    padding: 12px;
    color: #3F0257;
    text-align: center;
    text-decoration: none;
    font-family: Axial cut;
    font-size: 20px;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display: flex;}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #cba7d7;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: flex;}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: flex;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: relative;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: flex;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: flex;
    width: 100%;
    text-align: left;
  }
}