h1 {
    color: #000000;
    font-size: 76px;
    font-weight: bold;
}

.parent {position: sticky; margin: 0 0 200px; padding: 70px; padding-left: 200px; min-height: 70px;}
.parent .sticky {position: sticky; left: 70px; width: 200px;}

p {
    text-align: center;
}

b {
    font-family: Verdana; 
    font-size: 24px;
}

body {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 13px;
}

html {
    scroll-behavior: smooth;
}

/* Dropdown Button */
.dropbtn {
    background-color: #2e35fb;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: sticky;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: sticky;
    background-color: #f3b2fa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(65, 1, 67, 0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(99, 8, 90);
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #d56fe7;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: flex;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #eda8f9;}
  
/* This align the icon to the right */
#icon{
      align-items: right;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}