h1 {
    color: #000000;
    font-size: 76px;
    font-weight: bold;
}

.parent {position: sticky; margin: 0 0 100px; padding: 50px; padding-left: 100px; min-height: 50px;}
.parent .sticky {position: sticky; left: 50px; width: 100px;}

p {
    text-align: center;
}

b {
    font-family: Verdana; 
    font-size: 24px;
}

body {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 13px;
    background-color: #DFC5E8;
}

html {
    scroll-behavior: smooth;
}

.dropbtn {
    background-color: #3F0257;
    color: #FBFF70;
    padding: 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    align-items: center;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2e0240;
    border: #FBFF70;
    align-items: center;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: center;
    display: inline-block;
    align-items: center;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: center;
    background-color: #DFC5E8;
    min-width: 160px;
    box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-items: center;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
    align-items: center;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #2e0240; border: #FBFF70;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #cba7d7;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* This align the icon to the right */
.icon{
    align-items: right;
}